section {
    width: 100vw;
    height: auto;
}

.btn {
    background-color: #30488f;
    padding: 9px 20px;
    border-radius: 7px;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    width: 1150px;
    margin: 100px 100px 0 100px;
}

h1, h2, h3, h4, p, a {
    color: $primaryTextColor;
}
